<template>
  <div class="home">
    <div class="featured">
      <div class="columns">
        <div class="column is-12">
          <div class="stories">
            <div class="fc-story">
              <div class="cover media">

              </div>
              <div class="fc-content">
                <div class="wrap">
                  <div class="topic">
                    <a href="/" class="highlight">Reportage /</a>
                    <span class="t">Politics</span>
                  </div>
                  <h3 class="title is-3">Why the Indian State is failing in Kashmir</h3>
                  <p class="excerpt">
                    How police rhetoric has drowned out the economic realities of cattle-slaughter bans
                  </p>
                </div>
                <div class="author-details">
                  <span class="name">Praveen Donthi</span>
                </div>
              </div>
            </div>
            <div class="navigation">
              <div class="dot is-active"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <zone title="Web Exclusives">
      <div class="columns">
        <div class="column is-4">
          <card
              section="Politics"
              title="Nunito SB Ordnance Facto-ries, Defence Ministry And Bureaucrats Have Created"
              topic="Reportage"
              author="Aditi Ranjan"></card>
        </div>
        <div class="column is-4">
          <card
              section="Law"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              author="Aditi Ranjan"></card>
        </div>
        <div class="column is-4">
          <card
              section="Law"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              author="Aditi Ranjan"></card>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          <card
              section="Politics"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              author="Aditi Ranjan"></card>
        </div>
        <div class="column is-4">
          <card
              section="Caste"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              author="Aditi Ranjan"></card>
        </div>
        <div class="column is-4">
          <div class="ad-placeholder">
            <img v-lazy="sampleAd" alt="">
          </div>
        </div>
      </div>
    </zone>
    <breaker></breaker>
    <zone title="Magazine Zone 2">
      <div class="columns is-mobile is-multiline">
        <div class="column is-3-desktop is-6-mobile">
          <magazine-card title="Current Issue"></magazine-card>
        </div>
        <div class="column is-3-desktop is-6-mobile">
          <magazine-card title="October 2017"></magazine-card>
        </div>
        <div class="column is-3-desktop is-6-mobile">
          <magazine-card title="September 2017"></magazine-card>
        </div>
        <div class="column is-3-desktop is-6-mobile">
          <magazine-card title="August 2017"></magazine-card>
        </div>
      </div>
      <div class="columns">
        <div class="column is-8">
          <card
              section="Politics"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              dimensions="700/480"
              author="Aditi Ranjan"></card>
        </div>
        <div class="column is-4">
          <div class="ad-placeholder">
            <img v-lazy="sampleAd" alt="">
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-6">
          <card
              section="Environment"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              dimensions="700/480"
              author="Aditi Ranjan"></card>
        </div>
        <div class="column is-6">
          <card
              section="Conflict"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              dimensions="520/350"
              author="Aditi Ranjan"></card>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          <card
              section="Politics"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              author="Aditi Ranjan"></card>
        </div>
        <div class="column is-4">
          <card
              section="Caste"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              author="Aditi Ranjan"></card>
        </div>
        <div class="column is-4">
          <img v-lazy="sampleAd" alt="">
        </div>
      </div>
    </zone>
    <zone title="Section Zone 3">
      <div class="columns">
        <div class="column is-6">
          <card
              section="Environment"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              dimensions="700/480"
              author="Aditi Ranjan"></card>
        </div>
        <div class="column is-6">
          <card
              section="Conflict"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              dimensions="520/350"
              author="Aditi Ranjan"></card>
        </div>
      </div>
    </zone>
    <zone title="Archive Zone 4">
      <div class="columns">
        <div class="column is-12">
          <div class="full-width-card">
            <card section="Conflict"
                  title="Source Serif SB How The Ordnance Factories, Defence Ministry "
                  topic="Reportage"
                  dimensions="530/350"
                  author="Aditi Ranjan"></card>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="full-width-card">
            <card section="Conflict"
                  title="Source Serif SB How The Ordnance Factories, Defence Ministry "
                  topic="Reportage"
                  dimensions="530/350"
                  author="Aditi Ranjan"></card>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-8">
          <imageless-card section="Conflict"
                          title="Source Serif SB How The Ordnance Factories, Defence Ministry "
                          topic="Reportage"
                          dimensions="530/350"
                          author="Aditi Ranjan"></imageless-card>
          <imageless-card section="Conflict"
                          title="Source Serif SB How The Ordnance Factories, Defence Ministry "
                          topic="Reportage"
                          dimensions="530/350"
                          author="Aditi Ranjan"></imageless-card>
        </div>
        <div class="column is-4">
          <div class="ad-placeholder">
            <img v-lazy="yellowAd" alt="">
          </div>
        </div>
      </div>
    </zone>
    <zone title="Most Read Zone 5">
      <div class="columns">
        <div class="column is-8">
          <card
              class="no-rounded-cover"
              section="Politics"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              dimensions="720/480"
              author="Aditi Ranjan"></card>
        </div>
        <div class="column is-4">
          <div class="ad-placeholder">
            <img v-lazy="yellowAd" alt="">
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column is-4">
          <card
              section="Politics"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              author="Aditi Ranjan"></card>
        </div>
        <div class="column is-4">
          <card
              section="Caste"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              author="Aditi Ranjan"></card>
        </div>
        <div class="column is-4">
          <card
              section="Caste"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              author="Aditi Ranjan"></card>
        </div>
      </div>
    </zone>
    <zone title="More from The Caravan Zone 6">
      <div class="columns is-multiline">
        <div class="column is-6">
          <card
              class="no-rounded-cover"
              section="Caste"
              title="Source Serif SB How The Ordnance Factories, Defence Ministry "
              topic="Reportage"
              dimensions="540/360"
              author="Aditi Ranjan"></card>
          <div class="columns is-multiline">
            <div class="column">
              <card
                  class="no-rounded-cover"
                  section="Caste"
                  title="Source Serif SB How The Ordnance Factories, Defence Ministry "
                  topic="Reportage"
                  author="Aditi Ranjan"></card>
            </div>
            <div class="column">
              <card
                  class="no-rounded-cover"
                  section="Caste"
                  title="Source Serif SB How The Ordnance Factories, Defence Ministry "
                  topic="Reportage"
                  author="Aditi Ranjan"></card>
            </div>
          </div>
        </div>
        <div class="column is-6 books-collection">
          <div class="columns is-multiline is-mobile">
            <div class="column is-4-desktop is-6-mobile">
              <magazine-card title="Current Issue"></magazine-card>
              <div class="book-info">
                <div class="pre-title">BOOKS</div>
                <h6 class="title is-6">After Piketty - The Agenda for Economics and Inequality </h6>
                <div class="author">Aditi Ranjan</div>
              </div>
            </div>
            <div class="column is-4-desktop is-6-mobile">
              <magazine-card title="October 2017"></magazine-card>
              <div class="book-info">
                <div class="pre-title">BOOKS</div>
                <h6 class="title is-6">After Piketty - The Agenda for Economics and Inequality </h6>
                <div class="author">Aditi Ranjan</div>
              </div>
            </div>
            <div class="column is-4-desktop is-6-mobile">
              <magazine-card title="September 2017"></magazine-card>
              <div class="book-info">
                <div class="pre-title">BOOKS</div>
                <h6 class="title is-6">After Piketty - The Agenda for Economics and Inequality </h6>
                <div class="author">Aditi Ranjan</div>
              </div>
            </div>
            <div class="column is-4-desktop is-6-mobile">
              <magazine-card title="August 2017"></magazine-card>
              <div class="book-info">
                <div class="pre-title">BOOKS</div>
                <h6 class="title is-6">After Piketty - The Agenda for Economics and Inequality </h6>
                <div class="author">Aditi Ranjan</div>
              </div>
            </div>
            <div class="column is-4-desktop is-6-mobile">
              <magazine-card title="August 2017"></magazine-card>
              <div class="book-info">
                <div class="pre-title">BOOKS</div>
                <h6 class="title is-6">After Piketty - The Agenda for Economics and Inequality </h6>
                <div class="author">Aditi Ranjan</div>
              </div>
            </div>
            <div class="column is-4-desktop is-6-mobile">
              <magazine-card title="August 2017"></magazine-card>
              <div class="book-info">
                <div class="pre-title">BOOKS</div>
                <h6 class="title is-6">After Piketty - The Agenda for Economics and Inequality </h6>
                <div class="author">Aditi Ranjan</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </zone>
  </div>
</template>

<script>
import Zone from '../components/Zone'
import Card from '../components/Card'
import Breaker from '../components/Breaker'
import ImagelessCard from '../components/ImagelessCard'
import MagazineCard from '../components/MagazineCard'

export default {
  name: 'home',
  components: {MagazineCard, ImagelessCard, Card, Zone, Breaker},
  methods: {
    getRandomInt (min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min
    },
    randomMagazinFrame () {
      return `https://picsum.photos/240/310/?image${this.getRandomInt(0, 1000)}`
    }
  },
  computed: {
    sampleAd () {
      return `../assets/img/sample-ad.jpg`
    },
    yellowAd () {
      return '../assets/img/ad-yellow.jpg'
    }
  }
}
</script>
<style lang="scss">
  @import "../assets/styles/sass/utilities/initial-variables";
  @import "../assets/styles/sass/utilities/derived-variables";
  @import "../assets/styles/sass/utilities/mixins";

  .no-rounded-cover .media {
    border-radius: 0;
  }

  .featured {
    margin-top: 1rem;
    .stories {
      height: 470px;
      position: relative;
    }
    .navigation {
      position: absolute;
      right: 0;
      bottom: 0;
      padding: .5rem .5rem 1rem .5rem;
      display: flex;
      .dot {
        background: $white-ter;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        margin-right: 5px;
      }
      .dot.is-active, .dot:hover {
        background: darken($blue, 5%);
        cursor: pointer;
      }
    }
    .fc-story {
      display: flex;
      flex: 10;
      height: 100%;
      flex-direction: column;
      @include from($tablet) {
        flex-direction: row;
      }
      .media {
        background-image: url("../assets/img/feature-photo.jpg");
        background-position: center;
        background-size: cover;
        width: 100%;
        flex: 7;
      }
      .fc-content {
        background: $black-bis;
        color: $white-ter;
        padding: 1rem 1rem 3rem 1rem;
        @include from($tablet) {
          padding: 2rem 3rem;
        }
        flex: 3;
        position: relative;
        .topic {
          margin-bottom: 1rem;
          text-transform: uppercase;
          letter-spacing: .1rem;
          font-size: 90%;
          .highlight {
            color: $blue;
            &::after {
              content: '';
              margin-right: .3rem;
            }
          }
        }
        .author-details {
          position: absolute;
          left: 0;
          bottom: 0;
          padding: 1rem 1rem;
          text-transform: uppercase;
          color: $grey;
          letter-spacing: 1px;
          font-size: .9rem;
          @include from($tablet) {
            padding: 2rem 3rem;
          }
        }
        .title {
          color: $white-ter;
        }
        p.excerpt {
          color: $grey-lighter;
          padding-right: 2rem;
        }
      }
    }
  }

  .mag-card {
    .mag-title {
      text-transform: uppercase;
      font-weight: bold;
      color: $grey;
      padding: .5rem 0 0 0;
      letter-spacing: 1px;
    }
    img {
      background: $white-ter;
      min-height: 150px;
      display: block;
    }
    @include from($tablet) {
      img {
        min-height: 150px;
      }
    }
  }

  .ad-placeholder {
    margin-top: 0;
  }

  @include from($tablet) {
    .ad-placeholder {
      margin-top: 1.7rem;
    }
  }

  .full-width-card {
    .sec-title {
      display: none;
    }
    .card-item {
      display: flex;
      flex-direction: column;
    }
    .content {
      background: $black-bis;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: center;
      color: $white-ter;
      .title {
        color: $white-ter;
      }
      .author {
        color: $grey;
      }
    }
    .media {
      border-radius: 0;
    }
    @include from($tablet) {
      .card-item {
        flex-direction: row;
      }
      .content {
        padding: 3rem;
      }
    }
  }

  .books-collection {
    .mag-card {
      img {
        width: 160px;
      }
    }
  }

  .book-info {
    .pre-title {
      color: $blue;
      text-transform: uppercase;
      font-size: 90%;
      margin: .5rem 0;
    }
    .author {
      color: $grey;
      text-transform: uppercase;
      font-size: 90%;
    }
    .title:not(:last-child) {
      margin-bottom: .8rem;
    }
  }
</style>
