<template>
  <footer class="app-footer footer">
    <div class="container">
      <div class="columns is-mobile is-multiline">
        <div class="column is-6-mobile is-3-desktop">
          <h6 class="title is-6">Links</h6>
          <ul>
            <li><a href="/">Vantage</a></li>
            <li><a href="/">Archive</a></li>
            <li><a href="/">Reporting & Essays</a></li>
            <li><a href="/">Opinions</a></li>
            <li><a href="/">Books</a></li>
            <li><a href="/">Arts</a></li>
            <li><a href="/">Subscribe</a></li>
          </ul>
        </div>
        <div class="column is-6-mobile is-3-desktop">
          <h6 class="title is-6">Links</h6>
          <ul>
            <li><a href="/">About Us</a></li>
            <li><a href="/">Policies</a></li>
            <li><a href="/">Classifieds</a></li>
            <li><a href="/">Syndication</a></li>
            <li><a href="/">Carrers</a></li>
            <li><a href="/">Internships</a></li>
            <li><a href="/">Contact Us</a></li>
          </ul>
        </div>
        <div class="column is-6-mobile is-3-desktop">
          <h6 class="title is-6">Magazines</h6>
          <ul>
            <li><a href="/">Masthead</a></li>
            <li><a href="/">Classifieds</a></li>
            <li><a href="/">Syndication</a></li>
            <li><a href="/">Careers</a></li>
            <li><a href="/">Internships</a></li>
            <li><a href="/">Contact Us</a></li>
          </ul>
        </div>
        <div class="column is-6-mobile is-3-desktop">
          <div class="logo-holder">
            <img src="../assets/img/main-logo.png" alt="">
          </div>
          <ul class="below-logo">
            <li><a href="/">Terms of Service</a></li>
            <li><a href="/">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</template>
<script>
export default {}
</script>
<style lang="scss">
  @import "../assets/styles/sass/utilities/initial-variables";
  @import "../assets/styles/sass/utilities/derived-variables";
  @import "../assets/styles/sass/utilities/mixins";

  #app .footer {
    background: $black;
  }

  .app-footer {
    .title {
      color: $blue;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    ul > li > a {
      color: $grey-light;
      display: block;
      margin-bottom: .3rem;
      &:hover {
        color: $blue;
      }
    }
    .below-logo {
      margin-top: 1rem;
    }
    .logo-holder {
      height: 70px;
      margin-bottom: 2rem;
      display: block;
      margin-left: -.75rem;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
</style>