<template>
  <div class="breaker">
    <article class="article">
      <div class="content">
        <h6 class="topic is-6">
          <span class="is-highlighted">Photo Essay</span>
          <span class="text">Politics</span>
        </h6>
        <h4 class="title is-4">Why the Indian state is failing in Kashmir</h4>
        <p class="info"> How police rhetoric has drowned out the economic realities of cattle-slaughter bans</p>
        <div class="author">By <span class="name">Praveen Dhonthi</span></div>
      </div>
      <div class="media">
        <img v-lazy="randomImageFrame()" alt="">
      </div>
    </article>
    <div class="cover-all"></div>
  </div>
</template>
<script>
export default {
  methods: {
    getRandomInt (min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min
    },
    randomImageFrame () {
      return `https://picsum.photos/700/480/?image${this.getRandomInt(0, 1000)}`
    }
  }
}
</script>
<style lang="scss">
  @import "../assets/styles/sass/utilities/initial-variables";
  @import "../assets/styles/sass/utilities/derived-variables";
  @import "../assets/styles/sass/utilities/mixins";

  .breaker {
    min-height: 480px;
    position: relative;
    color: $white-ter;
    .title, .text {
      color: $white-ter;
    }
    .cover-all {
      position: absolute;
      background: $black-bis;
      width: 400%;
      margin-left: -100%;
      height: 100%;
      left: 0;
      top: 0;
    }
    .article {
      position: relative;
      z-index: 10;
      display: flex;
      flex-direction: column-reverse;
    }
    .content {
      flex: 8;
      padding: 1rem;
    }
    .is-highlighted {
      color: $blue;
    }
    .is-highlighted, .text {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: 90%;
    }
    .is-highlighted::after {
      content: '/';
      margin: 0 4px;
    }
    .media {
      flex: 25;
    }
    .author {
      position: absolute;
      color: $grey;
      left: 0;
      bottom: 0;
      padding: 1rem;
      .name {
        text-transform: uppercase;
      }
    }
    @include from($tablet) {
      .article {
        flex-direction: row;
      }
      .content {
        padding: 3rem 2rem 3rem 0;
      }
      .author {
        padding: .5rem;
      }
    }
  }
</style>