<template>
  <div class="card-item">
    <div class="sec-title">{{section}}</div>
    <div class="media">
      <img v-lazy="randomFrame()" alt="">
    </div>
    <div class="content">
      <div class="topic">{{topic}}</div>
      <a href="/">
        <h4 class="title is-5">{{title}}</h4>
      </a>
      <div class="author">{{author}}</div>
    </div>
  </div>
</template>
<script>
export default {
  props: ['section', 'topic', 'title', 'author', 'dimensions'],
  inheritAttrs: true,
  data () {
    let size = '340/220'
    if (this.dimensions) {
      size = this.dimensions
    }
    return {
      size
    }
  },
  methods: {
    getRandomInt (min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min
    },
    randomFrame () {
      return `https://picsum.photos/${this.size}?image${this.getRandomInt(0, 1000)}`
    }
  }
}
</script>
<style lang="scss">
  @import "../assets/styles/sass/utilities/initial-variables";
  @import "../assets/styles/sass/utilities/derived-variables";
  @import "../assets/styles/sass/utilities/mixins";

  .card-item {
    .sec-title {
      font-size: 90%;
      text-transform: uppercase;
      font-weight: bold;
      color: $grey;
      letter-spacing: 1px;
      margin-bottom: .5rem;
    }
    .media {
      background: $white-ter;
      min-height: 196px;
      overflow: hidden;
      border-radius: 2px;
      img {
      }
    }
    @include from($tablet) {
      .media {
        border-radius: 5px;
      }
    }
    .content {
      border-bottom: 1px solid $grey-lighter;
      padding-bottom: 1rem;
      @include from($tablet) {
        padding-bottom: .5rem;
      }
      .topic {
        text-transform: uppercase;
        font-size: 90%;
        color: $blue;
        letter-spacing: 1px;
        font-weight: bold;
        padding: .5rem 0 .3rem 0;
      }
      .title {
        font-weight: 800;
      }
      .author {
        letter-spacing: 1px;
        font-size: 80%;
        color: $grey;
        text-transform: uppercase;
      }
    }
  }

  .card-item:hover {
    cursor: pointer;
    .title {
      color: darken($blue, 10%);
    }
  }
</style>