<template>
  <div class="floating-menu-modal">
    <div class="modal is-active">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div class="search-wrapper is-flex">
          <div class="field">
            <input type="text" class="input" placeholder="Search">
          </div>
          <div class="button">
            <i class="icon fa fa-search"></i>
          </div>
        </div>
        <ul>
          <li><a href="/">Advertise</a></li>
          <li><a href="/">Register</a></li>
          <li><a href="/">Event</a></li>
          <li><a href="/">About Us</a></li>
          <li><a href="/">Login</a></li>
        </ul>
      </div>
      <button class="modal-close is-large" aria-label="close" @click.prevent="onClose"></button>
    </div>
  </div>
</template>
<script>
export default {
  props: ['show'],
  methods: {
    onClose () {
      this.$emit('update:show', 0)
    }
  }
}
</script>
<style lang="scss">
  @import "../assets/styles/sass/utilities/initial-variables";
  @import "../assets/styles/sass/utilities/derived-variables";
  @import "../assets/styles/sass/utilities/mixins";

  .floating-menu-modal {
    .modal-content {
      background: $white;
      padding: 4rem 1rem;
    }
    ul > li > a {
      display: block;
      font-size: 1.1rem;
      margin-bottom: 4px;
      color: $grey-dark;
      text-align: left;
      border-bottom: 1px solid $white-ter;
    }
    .icon {
      color: $grey-light;
    }
    .search-wrapper {
      width: 100%;
      margin-bottom: 1rem;
      .field {
        flex-grow: 1;
        margin-right: .5rem;
      }
    }
  }
</style>