<template>
  <div class="mag-card">
    <div class="mag-title">{{title}}</div>
    <img v-lazy="randomMagazinFrame()" alt="">
  </div>
</template>
<script>
export default {
  props: ['title'],
  methods: {
    getRandomInt (min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min
    },
    randomMagazinFrame () {
      return `https://picsum.photos/240/310/?image${this.getRandomInt(0, 1000)}`
    }
  }
}
</script>