<template>
  <div class="zone">
    <div class="title-wrapper">
      <div class="title is-serif">{{title}}</div>
      <slot></slot>
    </div>
  </div>
</template>
<script>
export default {
  props: ['title']
}
</script>
<style lang="scss">
  @import "../assets/styles/sass/utilities/initial-variables";
  @import "../assets/styles/sass/utilities/derived-variables";
  @import "../assets/styles/sass/utilities/mixins";

  .zone {
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    @include from($tablet) {
      padding: 0;
      margin: 1rem 0 2rem 0;
    }
  }


</style>