<template>
  <div id="app">
    <a class="vertical-dots" @click.prevent="showSearchModal = 1">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </a>
    <div class="top-nav is-hidden-mobile">
      <div class="container">
        <div class="wrap">
          <div class="start">
            <ul>
              <li>
                <a href="#">Delhi Press | 36 Magazines, 10 languages</a>
              </li>
            </ul>
          </div>
          <div class="end">
            <ul>
              <li><a href="/">Advertise</a></li>
              <li><a href="/">Register</a></li>
              <li><a href="/">Event</a></li>
              <li><a href="/">About Us</a></li>
              <li><a href="/">Login</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <header class="main-header">
      <div class="container">
        <div class="logo-wrapper">
          <a href="/" class="logo">
            <img src="./assets/img/main-logo.png" alt="">
          </a>
        </div>
        <div class="search-wrapper is-hidden-mobile">
          <input type="text" class="input is-small" placeholder="SEARCH">
          <button class="button is-primary is-small">Go</button>
        </div>
        <affix relative-element-selector="#main-content">
          <div class="nav">
            <div class="filler"></div>
            <ul>
              <li>
                <a class="is-active" href="/">Politics</a>
              </li>
              <li>
                <a href="/">Culture</a>
              </li>
              <li>
                <a href="/">Business</a>
              </li>
              <li>
                <a href="/">Society</a>
              </li>
              <li>
                <a href="/">Governance</a>
              </li>
              <li>
                <a href="/">Magazine</a>
              </li>
              <li>
                <a href="/">Archive</a>
              </li>
            </ul>
          </div>
        </affix>
      </div>
    </header>
    <div class="container">
      <div class="main-content" id="main-content">
        <router-view/>
      </div>
    </div>
    <app-footer></app-footer>
    <fade-transition v-show="showSearchModal">
      <floating-menu-modal :show.sync="showSearchModal"></floating-menu-modal>
    </fade-transition>
  </div>
</template>
<script>
import AppFooter from './components/AppFooter'
import FloatingMenuModal from './components/FloatingMenuModal'
import {FadeTransition} from 'vue2-transitions'

export default {
  data () {
    return {
      showSearchModal: 0
    }
  },
  components: {
    FadeTransition,
    AppFooter,
    FloatingMenuModal
  }
}
</script>
<style lang="scss">
  @import "assets/styles/sass/utilities/initial-variables";
  @import "assets/styles/sass/utilities/derived-variables";
  @import "assets/styles/sass/utilities/mixins";

  @include from($tablet) {
    #app .container {
      max-width: 980px;
    }
  }

  body {
    overflow: hidden;
    img {
      transition: opacity .25s ease-in;
    }
    img[lazy=loading] {
      opacity: 0;
    }
    img[lazy=loaded] {
      opacity: 1;
    }
  }

  .is-serif {
    font-family: $family-serif;
  }

  .affix {
    z-index: 30;
    width: 100%;
  }

  .affix .nav {
    position: relative;
    z-index: 40;
    background: $black;
    .filler {
      display: block !important;
    }
  }

  .affix .filler {
    position: absolute;
    width: 400%;
    margin-left: -100%;
    left: 0;
    top: 0;
    height: 100%;
    background: $black;
    z-index: 30;
  }

  .top-nav {
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 3px solid $blue;
    overflow: hidden;
    .wrap {
      display: flex;
      .end {
        margin-left: auto;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
        li {
          vertical-align: middle;
        }
        li:not(:last-child)::after {
          content: '|';
          font-size: 90%;
          color: $grey-light;
        }
        a {
          padding: .5rem;
          color: $grey;
          font-size: .8rem;
        }
        a:hover {
          color: $grey-dark;
          background: #f8f8f8;
        }
      }
    }
  }

  .main-header {
    background: $black;
    overflow: hidden;
    position: relative;
    .container {
      position: relative;
    }
    .search-wrapper {
      position: absolute;
      display: flex;
      right: 0;
      top: 0;
      padding: .5rem 0;
      margin-top: -40px;
      ::placeholder {
        text-align: center;
      }
      .input {
        border-radius: 3px 0 0 3px;
      }
      .button {
        border-radius: 0 3px 3px 0;
      }
    }
    .logo-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 1rem 0;
      .logo {
        width: 140px;
        height: 50px;
      }
      @include from($tablet) {
        margin: 40px 0 30px 0;
        .logo {
          width: 180px;
        }
      }
    }
    .nav {
      .filler {
        display: none;
      }
      ul {
        display: flex;
        flex-direction: row;
        margin: 0;
        overflow: auto;
        white-space: nowrap;
        position: relative;
        z-index: 30;
        @include from($tablet) {
          margin: 0 -1.5rem;
          overflow: hidden;
        }
        li a {
          color: $grey-lighter;
          display: block;
          padding: .5rem 1.5rem .5rem 1.5rem;
          text-transform: uppercase;
          font-size: .85rem;
          letter-spacing: .16rem;
          transition: background-color .2s linear;
        }
        a.is-active,a:hover {
          background: $grey;
        }
      }
    }
  }

  .main-content {
    margin-top: 1rem;
  }

  .vertical-dots {
    position: absolute;
    right: 0;
    top: .3rem;
    padding: .5rem .9rem;
    display: flex;
    flex-direction: column;
    z-index: 40;
    .dot {
      display: block;
      width: 5px;
      height: 5px;
      background: $white;
      border-radius: 50%;
      margin-bottom: 2px;
    }
  }
</style>